.header {
  position: relative;
  width: calc(100% + 24px);
  top: -12px;
  left: -12px;
  background-color: #262c35 !important;
  padding: 16px 40px !important;
  backdrop-filter: blur(48px);
  border-radius: 0 0 20px 20px;
  .le_flash-menu-horizontal {
    background: transparent !important;
    border: none !important;
    width: 100% !important;
  }
  .le_flash-col {
    .le_flash-space-item:last-child {
      width: 100% !important;
    }
  }
}

.container {
  padding: 0 40px !important;
}

.le_flash-card {
  border-color: #ed8000 !important ;
}

.le_flash-input {
  background: rgba(237, 128, 0, 0.05) !important;
}
.le_flash-picker {
  background: rgba(237, 128, 0, 0.05) !important;
}
